html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #217ee7;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
    max-width: 520px;
    padding: 32px;
    line-height: 1.6em;
}

#content p {
    text-align: justify; /* Justifies paragraph text */
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 320px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #1565c0;
}

/* Navigation bar styling */
.navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    margin-bottom: 20px;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: black; /* Sets font color to black */
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    color: #217ee7; /* Changes color on hover */
}

.small-font {
    font-size: 0.7em; /* Adjust the size as needed */
}

/* Container for the horizontal reveal effect */
.reveal-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.reveal-container::before,
.reveal-container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background: #333;
    top: 50%;
    transform: translateY(-50%);
    transition: width 1.5s ease;
}

.reveal-container::before {
    left: 0;
}

.reveal-container::after {
    right: 0;
}

.reveal-container p {
    opacity: 0;
    animation: fadeIn 1s ease 1.5s forwards;
}

/* Trigger the horizontal bars to expand and reveal the text */
.reveal-container:hover::before,
.reveal-container:hover::after {
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Background image for the entire webpage */
body {
    background-image: url('wallpaper.jpg'); /* Replace with the path to your wallpaper image */
    background-size: cover; /* Scales the image to cover the entire viewport */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the wallpaper fixed while scrolling */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
